@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar edits */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: lightskyblue;
    border-radius: 30px;
}

input::-ms-reveal {
    filter: invert(50%);
}

#post  h1 {
  font-size: large;
  font-weight:700;
}

#post  h2 {
    font-size:larger;
    font-weight:700;
    color:rgb(87, 149, 247);
    margin-bottom: 0.5rem;
}

#post li {
    margin-bottom: 0.3rem;
}

#post  h3 {
    font-size: large;
    font-weight:700;
}

#post strong {
    font-weight:bold
}
